/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

:root {
    --ion-font-family: "IBM Plex Sans", sans-serif;
}

// border radius classes
@for $i from 0 through 64 {
    .b-r-#{$i} {
        border-radius: #{$i}px;
    }
}

// font size classes
@for $i from 0 through 64 {
    .f-#{$i} {
        font-size: #{$i}px;
    }
}

// font weight classes
$font-weights: 100 200 300 400 500 600 700 800 900 bold bolder lighter normal;
@each $weight in $font-weights {
    .fw-#{$weight} {
        font-weight: $weight;
    }
}

// margin classes
@for $i from 0 through 64 {
    .m-#{$i} {
        margin: #{$i}px;
    }

    .m-t-#{$i} {
        margin-block-start: #{$i}px;
    }

    .m-r-#{$i} {
        margin-inline-end: #{$i}px;
    }

    .m-b-#{$i} {
        margin-block-end: #{$i}px;
    }

    .m-l-#{$i} {
        margin-inline-start: #{$i}px;
    }
}

// padding classes
@for $i from 0 through 64 {
    .p-#{$i} {
        padding: #{$i}px;
    }

    .p-t-#{$i} {
        padding-block-start: #{$i}px;
    }

    .p-r-#{$i} {
        padding-inline-end: #{$i}px;
    }

    .p-b-#{$i} {
        padding-block-end: #{$i}px;
    }

    .p-l-#{$i} {
        padding-inline-start: #{$i}px;
    }
}

*:focus {
    outline: 0;
}

ion-title {
    font-size: 18px;
}

ion-button[size="default"] {
    height: 3em;
    font-size: 16px;
}

ion-progress-bar {
    height: 3px;
}

// helper classes
.has-shadow {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

.img-responsive {
    max-width: 100%;
    display: block;
    height: auto;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-spinner {
        width: 32px;
        height: 32px;
    }
}

.no-records-found {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
        font-size: 14px;
        color: var(--ion-color-step-700);
    }
}

// Ion Ripple Effect Parent
.ripple-parent {
    position: relative;
    overflow: hidden;
}
